body {
    margin: 0;
    padding: 0;
    color: white;
    height: 100%;
    background-color: #161a1d;
}
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto_Condensed-Regular.ttf");
}
@font-face {
    font-family: "monocraft";
    src: url("../fonts/Monocraft.ttf");
}
#main_container {
    display: flex;
    width: 100%;
    height: 100%;
}
#main_center {
    width: 100%;
}
#main_bar {
    width: 100%;
    height: 50px;
    background-color: #AFFC41;
    line-height: 50px;
    position: sticky;
}
#main_bar ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    display: block;
    text-align: center;
    margin: 10px;
    line-height: 100%;
    font-family: "roboto";
}
#main_bar ul > li > a:hover {
    background-color: black;
    color: white;
}
#main_bar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#main_bar > ul > li {
    float: right;
}
#main_content {
    width: 60vw;
    height: 100%;
    color: white;
    font-family: "roboto";
    font-size: 1.2em;
    margin-left: 50px;
}
#main_content > ul > li > a:visited {
    color: white;
}
#main_content a:hover {
    background-color: #AFFC41;
}
#buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
}
#projects {
    margin-top: 50px;
}
.portfolio_card {
    width: 100%;
    height: 220px;
    border-top: 1px solid #AFFC41;
    padding-left: 20px;
}